
.campos-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.campo{
    width: 70%;
    margin: 3% 0;
    text-align: center;
}

.campo .img{
    width: 100%; 
    height: 300px;
    border-radius: 5px;
    background-image: url('../ASSETS/balon-futbol.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.campo .content{
    display: flex;
    justify-content: space-around;
    align-items: center;

    h2{
        font-size: 0.9rem;
    }

    span{
        color: var(--fondoBotones);
        font-weight: 500;
    }
}

.campo h2{
    margin: 4% 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--colorTexto);
}



.campo button{
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--fondoBotones);

    a{
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--colortexto2);
    }
}


.PyR{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(36,98,235);
    background: linear-gradient(90deg, rgba(36,98,235,1) 0%, rgba(42,36,235,1) 100%);
    text-align: center;
    padding: 5% 0% 8%;

    h1{
        margin: 0 auto;
        width: 90%;
        font-size: 3rem;
        color: var(--colortexto2);
    }

    p{
        margin: 0 auto;
        width: 90%;
        color: var(--colortexto2);
        font-size: 1.1rem;
    }
}

.PyR button{
    padding: 8px 12px;
    border: 2px solid var(--fondoBotones);
    border-radius: 5px;
    background-color: var(--fondoBody);
    margin: 2% 0%;
    box-shadow: 2px 5px 2px 0px rgba(0, 0, 0, 0.4);

    a{
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--fondoBotones);
    }
}

.disabled{
    background-color: rgb(36, 98, 235, 0.5);
}

.rojo{
    background-color: red;
}

@media screen and (min-width: 1200px){

    .campos-container{
        flex-flow: row wrap;
        justify-content: center;
    }

    .campo{
        width: 25%;
        margin: 1%;
    }

    .campo button{
        transition: all 0.2s ease;
            
        &:hover{
            background-color: #0035a7;
        }
    }

    .PyR{
        padding: 2% 0;

        button{
            transition: all .25s ease 0s;

            &:hover{
                background-color: #e6e6e6;
            }
        }
    }

    
}