*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --logo:'Dancing Script'; 
    --titulos: 'Bebas Neue';
    --fondoBody: #fff; 
    --colorTitulos: #010100;
    --colorTitulos2: #fff; 
    --colorTexto: #010100;
    --colortexto2: #fff;
    --fondoBotones: #2462EB; 
    --fondoFooter: #111827; 
    --fondoHeroSection: #EFF4FE; 
}

/*
------------------------
----------HERO----------
------------------------
*/

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fondoHeroSection);
    padding: 5% 0% 8%;
    text-align: center;
}

.hero > h1{
    width: 70%;
    font-size: 3rem;
    color: var(--colorTexto);

    b{
        color: var(--fondoBotones);
        font-weight: normal;
    }
}

.hero > p{
    width: 90%;
    font-size: 1.2rem;
}

.hero > button{
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background-color: var(--fondoBotones);

    a{
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--colortexto2);
    }
}