*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --negro: #010100; 
    --blanco: #fefffe; 
    --gris: #f2f4f7; 
    --azul: #1e90ff; 
    --cineflow: 'Lobster'; 
    --titulos: 'Poppins'; 
    --texto-enlaces-botones: 'Montserrat'; 
}

/*Estilos para los h1, p y a para no tener que repetirlo continuamente*/


.hero-section{
    height: 90vh;
    background-image: url(../ASSETS/hero-image.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

/*Estilos para el contenido del hero-section*/
.content{
   padding: 20px;

    & h1{
        font-size: 4vw;
        color: var(--blanco);
    }

    & p{
        width: 40%;
        margin: 1% 0% 2%;
        font-size: 1.2vw;
        color: var(--blanco);
    }

    & .button-enlace{
        width: min-content;
        padding: 10px 15px; 
        border-radius: 7px;
        background-color: var(--gris);
        box-shadow: 2px 4px 4px 1px rgba(0,0,0,0.75);
    

        & a{
            font-size: 0.8vw;
            color: var(--negro);
            text-decoration: none;
            transition: color .15s ease-in;

            &:hover{
                color: var(--azul);
            }
        }
    }
}

/* Estilos para el apartado de servicios */
.nuestros-servicios{
    background-color: var(--blanco);
}

.nuestros-servicios-title{
    padding: 20px;
    & h1{
        font-size: 1.5vw;
    }
}

/*Estilos para el el contenedor que almacena los servicios*/
.nuestros-servicios-containers{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0px;
    
    /*Estilos por cada contenedor individual*/
    & .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 25vw;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;

        &:first-of-type{
            background-image: url(../ASSETS/palomitas.jpeg);
        }

        &:nth-of-type(2){
            background-image: url(../ASSETS/cine-tickets.webp);
        }

        &:last-of-type{
            background-image: url(../ASSETS/cine-tickets.webp);
        }
        
    }
}

/* Estilos para el contenedor que contiene el titulo del servicio y su respectivo boton */
.img-container > .content-button{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;

    & h1{
        margin: 0% 0% 10%;
        font-size: 1.5vw;
    }

    & .button-enlace{
        width: min-content;
        padding: 10px 15px; 
        border: none;
        border-radius: 7px;
        background-color: var(--gris);
        box-shadow: 2px 4px 4px 1px rgba(0,0,0,0.75);
        & a{
            font-size: 0.9vw;
            color: var(--negro);
            text-decoration: none;
            transition: color .15s ease-in;

            &:hover{
                color: var(--azul);
            }
        }
    }

}

/*Estilos para la seccion de la cartelera*/

#cartelera{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    margin: 3vw 0vw;
    background-color: var(--gris);
    transition: all 1s ease 0s;

}

.movie-card{
    margin: 2% 3%;
    transition: all 1s ease 0s;


    & img{
        width: 100%;
        border-radius: 5px;
    }

    & .movie-content{
        & h2{
            font-family: var(--texto-enlaces-botones);
            font-weight: 600;
        }

        & a{
            color: var(--negro);
            transition: color .15s ease-in;

            &:hover{
                color: var(--azul);
            }
        }
    }
}

#carterlera:hover{
    box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.5); 
    opacity: 1;
}

#cartelera:hover > .movie-card:not(:hover){
    opacity: 0.5;
}

/* Estilos para el contenedor de los menus */

.opciones-deliciosas{
    display: flex;
    flex-direction: column;
}

.menus-header{
    display: flex;
    align-items: center;
    
    & .menus-titles{
        width: 50%;
        padding: 1%;

        & h1{
            font-size: 2.5vw;
        }

        & p{
            font-size: 1vw;
        }
    }

    & .menu-enlace{
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin: 0% 3.5%;

        & a{
            padding: 15px 15px;
            border: 1px solid var(--negro);
            border-radius: 5px;
            color: var(--negro);
            transition: all .35s ease-in;          


            &:hover{
                border: none;
                background-color: var(--negro);
                color: var(--blanco);
            }
        }
    }
}

/* Estilos para el contenedor de 'comprar entradas'*/

.comprar-tickets{
    padding: 3vw 20px;
    background-color: var(--negro);
}

.comprar-entradas-content{
    padding: 20px 0px;
    color: var(--blanco);

    & h1{
        font-size: 2.5vw;
    }

    & p{
        width: 60%;
        font-size: 1.2vw;
    }
}

.comprar-tickets-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    padding: 20px 0px;

    button{
        padding: 13px 15px;
        border-radius: 5px;

        &:first-of-type{
            background-color: var(--blanco);
            
            & a{
                color: var(--negro);
                transition: color .15s ease-in;

                &:hover{
                    color: var(--azul);
                }
            }
        }

        &:last-of-type{
            border: 1px solid var(--blanco);
            background-color: var(--negro);
            transition: all .50s ease-in;          

            
            & a{
                color: var(--blanco);      
                transition: all .50s ease-in;          
            }
        }
    }    
}

.comprar-tickets-btns > button:last-of-type:hover{
    border: none;
    background-color: var(--blanco);

    a{
        color: var(--negro);
    }
}