*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    --negro: #010100; 
    --blanco: #fefffe; 
    --gris: #f2f4f7; 
    --verde: #2ECC71; 
    --logo: 'Lobster'; 
    --titulos: 'Bebas Neue'; 
    --no_titulos: 'Lato'; 
}

body{
    background-color: var(--gris);
}

a{
    text-decoration: none;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: var(--blanco);

    & a{
        padding: 10px;
        font-family: var(--logo);
        font-size: 2rem;
        font-weight: 300;
        color: var(--negro);
    }

}

.links{
    display: none;
}

.nav-links{
    display: flex;
    align-items: center;
    padding: 10px;

    a{
        color: var(--negro);
        font-size: 2.3rem;
    }

    & article{
        margin-left: 2vw; 
    }
}


/*Estilos del menu hamburguesa*/
.menu-hamburguesa{  
    position: relative;
    z-index: 2;  
    overflow: hidden;

    & input{
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 2;
        opacity: 0;
    }

    & div{
        width: 40px;
        height: 5px;
        margin: 5px 0px;
        border-radius: 20px;
        background-color: var(--negro);
    }
}


/*Logica del desplegable*/
.desplegable{
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 200vh;
    background-color: green;
    transform: translateX(200%);
    transition: all .25s linear 0s;

}

body:has(nav > .nav-links > .menu-hamburguesa > input:checked){
    & nav > .desplegable{
        transform: translateX(0%);
    }
}



/*
------------------------------------
-------------- FOOTER ---------------
------------------------------------
*/


footer{
    background-color: var(--blanco);
}

.enviar-email-content{
    padding: 15px 0px;
    text-align: center;

    & h1{
        font-family: var(--titulos);
        font-weight: 500;
        font-size: 2rem;
        letter-spacing: 2px;
    }

    & p{
        font-family: var(--no_titulos);
        font-size: 1.3rem;
    }

}

.input-button{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;

    & input{
        margin: 0vw 1.5vw;
        padding: 7px 10px;
        border: none;
        border-radius: 5px;
        background-color: var(--negro);
        font-size: 1.4rem;

        &::placeholder{
            font-family: var(--no_titulos);
        }
    }

    & button{
        margin: 0vw 1.2vw;
        padding: 7px 15px;
        border: none;
        border-radius: 5px;
        background-color: var(--verde);
        font-family: var(--no_titulos);
        font-weight: bold;
        font-size: 1.4rem;
        color: var(--blanco);
    }
}


hr{
    margin: 4vw auto;
    width: 85%;
    height: 3px;
    background-color: var(--negro);
}


.footer-links > h1{
    font-family: var(--logo);
    font-weight: 300;
    font-size: 1.7rem;
    text-align: center;
}

.links-1, .links-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

    & a{
        margin: 2vw 0vw;
        font-family: var(--no_titulos);
        font-size: 1.4rem;
        color: var(--negro);
    }
}

.RRSS{
    display: flex;
    justify-content: space-between;
    margin: 2vw auto;
    width: 25%;

    & a{
        font-size: 2.4rem;
        color: var(--negro);
    }
}