*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --logo:'Dancing Script'; 
    --titulos: 'Bebas Neue';
    --fondoBody: #fff; 
    --colorTitulos: #010100;
    --colorTitulos2: #fff; 
    --colorTexto: #010100;
    --colortexto2: #fff;
    --fondoBotones: #2462EB; 
    --fondoFooter: #111827; 
}


/*
-------------------------------------
----------ESTILOS GENERALES----------
-------------------------------------
*/
body{
    overflow-x: hidden;
}

h1{
    font-family: var(--titulos);
    font-weight: 500;
    font-size: 2.5rem;
}

h2,h3,p,a{
    font-family: 'Montserrat'; 
    font-weight: 400;
}

a{
    text-decoration: none;
}

b{
    font-weight: normal;
}

.logo{
    font-family: 'Dancing Script';
}


/*
---------------------------------------
----------ESTILOS PARA EL NAV----------
---------------------------------------
*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    a.logo{
        margin: 0 2%;
        color: var(--colorTexto);
        font-size: 2.3rem;
    }

    .nav-links{
        display: none;
        a{
            color: var(--colorTexto);
            font-size: 1.3rem;
        }
    }

    .menu-hamburguesa{
        margin: 0 2%;
        position: relative;

        input{
            position: absolute;
            z-index: 3;
            opacity:0;
            width: 50px;
            height: 50px;
        }

        div{
            position: relative;
            z-index: 2;
            width: 50px;
            height: 6px;
            border-radius: 20px;
            background-color: var(--colorTexto);
            margin: 7px auto;
            
        }
    }

}

.desplegable{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--fondoFooter);
    position: absolute;
    z-index: 1;
    top: 0;
    transform: translateX(200%);
    transition: all .3s ease-in-out;

    a{
        margin: 1% 2%;
        font-size: 1.5rem;
        color: var(--colortexto2);
    }
}

body:has(.menu-hamburguesa input:checked){
    overflow-y: hidden;

    nav > .menu-hamburguesa > div{
        background-color: var(--colortexto2);
    }
}

body:has(.menu-hamburguesa input:checked) .desplegable{
    transform: translateX(0);

}

/*
--------------------------
----------FOOTER----------
--------------------------
*/

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fondoFooter);
    text-align: center;

    h2{
        margin: 10% 0 0;
        font-size: 1.5rem;
        font-weight: bold;
    }

    i{
        font-size: 2rem;
    }

    h2,i{
        color: var(--fondoBotones);
    }

    a{
        font-size: 1.1rem;
        font-weight: 200;
        color: var(--colortexto2);
    }
    
    hr{
        width: 90%;
        height: 4px;
        background-color: #fff;
        
    }

    .links-1,.links-2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 8% 0%;

        a{
            margin: 3% 0;
        }
    }

    .RRSS{
        display: flex;
        justify-content: space-around;
    }

    .derechos{
        color: var(--colortexto2);
    }
}