*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --logo:'Dancing Script'; 
    --titulos: 'Bebas Neue';
    --fondoBody: #fff; 
    --colorTitulos: #010100;
    --colorTitulos2: #fff; 
    --colorTexto: #010100;
    --colortexto2: #fff;
    --fondoBotones: #2462EB; 
    --fondoFooter: #111827; 
}


main{
    padding: 5% 0%;
}


/*
---------------------------
----------CONTENT----------
---------------------------
*/

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content > h1{
    width: 90%;
    font-size: 2.5rem;
    color: var(--colorTexto);

    b{
        color: var(--fondoBotones);
    }
}

.content > p{
    width: 90%;
    font-size: 1rem;
}

/*
-----------------------------
---------- CAMPOS -----------
-----------------------------
*/

.campos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2% 0;
    text-align: center;
}

.campo > .img{
    width: 100%; 
    height: 300px;
    border-radius: 5px;
    background-image: url('../ASSETS/campo-futbol.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.campo h2{
    margin: 2% 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--colorTexto);
}

.campo p{
    width: 80%;
    margin: 2% 0;
    font-size: 1.1rem;
    color: var(--colorTexto);
}

.campo button{
    margin: 2% 0;
    padding: 10px 30px;
    border: 1px solid var(--fondoBotones);
    border-radius: 5px;
    background-color: var(--fondoBody);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;

    a{
        font-size: 1rem;
        font-weight: 300;
        color: var(--fondoBotones);
    }
}


@media screen  and (min-width: 1200px){

    main{
        width: 80%;
        margin: 0 auto;
    }

    /*
    ---------------------------
    ----------CONTENT----------
    ---------------------------
    */
    

    .content{
        flex-direction: row;
        justify-content: space-around;
        text-align: left;

        h1,p{
            width: 40%;
        }

        h1{
            font-size: 3rem;
        }

        
    }

    /*
    -----------------------------
    ---------- CAMPOS -----------
    -----------------------------
    */


    .campos{
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .campo{
        align-items: flex-start;
        width: 30%;
        text-align: left;

        button{
            transition: all 0.5s ease;

            &:hover{
                background-color: var(--fondoBotones);
                
                a{
                    color: var(--colortexto2);
                }
            }
        }
        
    }

}