*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --logo:'Dancing Script'; 
    --titulos: 'Bebas Neue';
    --fondoBody: #fff; 
    --colorTitulos: #010100;
    --colorTitulos2: #fff; 
    --colorTexto: #010100;
    --colortexto2: #fff;
    --fondoBotones: #2462EB; 
    --fondoFooter: #111827; 
}

main{
    padding: 20px 0px;
    background-image: url('../ASSETS/campo-futbol4.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-container{
    width: 60vw;
    padding: 15px 10px;
    margin: 2vw auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 30%);
}

.form-container > h1{
    text-align: center;
    font-size: 2.5rem; 
    font-weight: 500;
    color: var(--colortexto2);
}

.form-container .label-input{
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin: 2vw 0vw;

    label{
        margin: 1vw 0vw;
        font-size: 1.2rem;
        color: var(--colortexto2);
    }

    input{
        padding: 5px;
        border: 1px solid var(--colorTexto);
        border-radius: 5px;
        background-color: var(--colortexto2); 

        &::placeholder{
            font-family: var(--no_titulos);
            font-weight: bold;
            font-size: 1rem;
        }
    }

    span{
        opacity: 0;
        color: red;
    }

}

.form-container .confirmar{
    margin: 2vw auto;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    color: var(--colortexto2);
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    display: none;
}

.disabled{
    background-color: rgb(36, 98, 235, 0.5);
}

@media screen and (min-width: 1200px){

    main{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .form-container{
        width: 50vw;
        margin: 0;
    }

    .form-container .label-input{
        width: 25vw;
        margin: 0.5vw auto;

        label{
            margin: 0.5vw 0vw;
        }
    }

    .form-container .confirmar{
        margin: 1vw auto;
    }

    .info{
        border: 2px solid purple;
        display: block;
        width: 40vw;

    }
}



