*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --logo:'Dancing Script'; 
    --titulos: 'Bebas Neue';
    --fondoBody: #fff; 
    --colorTitulos: #010100;
    --colorTitulos2: #fff; 
    --colorTexto: #010100;
    --colortexto2: #fff;
    --fondoBotones: #2462EB; 
    --fondoFooter: #111827; 
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info{
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-p{
    border: 1px solid blue;
}

.card-reserva{
    border: 2px solid green;
}



@media screen and (min-width: 1200px){
    main{
        flex-direction: row;
    }
}