

/*
--------------------------------
----------ESTILOS MAIN----------
--------------------------------
*/
main{
    display: flex;
    flex-direction: column;
    padding: 10px;
}


/*
-------------------------------------------
----------ESTILOS PARA ALERTAS------------
-------------------------------------------
*/
#alerta-verde, #alerta-roja{
    position: absolute;
    z-index: 3;
    transition: all 0.2s ease;
    top: -10%;
    font-size: 0.9rem;
}


/*
-----------------------------------------------------------------
----------CLASE PARA CUANDO SE DESPLIEGUE UN FORMULARIO----------
-----------------------------------------------------------------
*/
.noScroll{
    overflow-y: hidden;
}


/*
---------------------------------
----------BARRA LATERAL----------
---------------------------------
*/

aside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px;

}

/*
-----------------------------------------------
----------BOTONES DE LA BARRA LATERAL----------
-----------------------------------------------
*/
aside > button{
    width: 60%;
    max-width: 300px;
    margin: 7px 0px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    transition: all 0.1s ease-in-out;

    &:hover{
        background-color: rgba(230, 230, 230, 1);
    }

    i{
        margin: 0 7px;
    }
}

/*
-----------------------------
----------CONTENIDO----------
-----------------------------
*/

.content{
    width: 100%;
    padding: 10px;
}

/*
-------------------------------------
----------NOMBRE DE USUARIO----------
-------------------------------------
*/
.username{
    font-weight: 500;
    font-size: 1.4rem;
}

/*
------------------------------
----------FORMULARIO----------
------------------------------
*/

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0px;

    button.btn-enviar{
        width: 40%;
        padding: 5px 0px;
        background-color: var(--fondoBotones);
        color: var(--colortexto2);
        font-family: 'Montserrat';
        font-size: 0.9rem;
        text-align: center;

        &:hover{
            color: var(--colortexto2);
            background-color: var(--fondoBotones);
        }
        
    }
}

/*
-------------------------------------------------
----------FORMULARIO PARA CERRAR SESIÓN----------
-------------------------------------------------
*/
#formCerrarSesion{
    width: 40%;
    padding: 0;
    border: none;

    button{
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
        background-color: red;
        font-size: 0.8rem;
        font-weight: bold;
        color: var(--colortexto2);
        text-align: center;
    }
}

/*
---------------------------------------------------------
----------CONTENEDOR QUE CONTIENE LABEL E INPUT----------
---------------------------------------------------------
*/
.input-label-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;

    label{
        color: var(--colortexto1);
        font-size: 1rem;
        font-weight: 500;
    }

    input{
        padding: 7px 10px;
        border: none;
        border-radius: 8px;
        border: 1px solid rgba(208, 204, 204, 0.75);
        background-color: rgba(255, 255, 255, .75);
    }
}


/*
--------------------------
----------TABLAS----------
--------------------------
*/

table {
    width: 100%;
    margin: 10px 0;
    border-collapse: separate;       /* Para permitir el border-radius */
    border-spacing: 0;               /* Elimina el espacio entre celdas */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;                /* Necesario si hay fondo para ver el border-radius */
  }

  
  table th,
  table td {
    padding: 10px 5px;                   /* Padding interno */
    border-bottom: 1px solid #ddd;

  }
  
  table thead th {
    border-bottom: 1px solid #ddd;
    background-color: rgb(224, 224, 226);
  }

/*
------------------------------------------------------------------
----------EDITAR EL CONTENEDOR DE ACCIONES Y SUS BOTONES----------
------------------------------------------------------------------
*/

.acciones-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    button{
        width: 80%;
        max-width: 70px;
        margin: 5px 5px;
        padding: 7px 10px; 
        text-align: center;
    }
}


/*
------------------------------------------------------------------------
----------FORMULARIO PARA EDITAR USUARIOS, CAMPOS Y RESERVAS----------
------------------------------------------------------------------------
*/

.containerFormUser, .containerFormCampo, .containerFormHorario{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all .15s linear;

    form{
        width: 70%;
        max-width: 400px;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, .75);
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .3);
        position: relative;
        top: 15%;

        button{
            width: 100%;
            margin: 5px 0;
            padding: 5px 10px;
            border: none;
            border-radius: 10px;
            font-weight: bold;
            color: var(--colortexto2);

            &:first-of-type{
                background-color: var(--fondoBotones);
            }

            &:last-of-type{
                background-color: red;
            }
        }

        select{
            width: 100%;
            margin: 5px 0;
            padding: 5px 10px;
            border-radius: 5px;
            color: var(--fondoBotones);
        }
    }
}

.containerFormHorario .input-label-container:nth-of-type(2){
    
    .horarios-checkboxes{
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        
        label{
            padding: 10px;
            border-radius: 5px;
            background-color: var(--colortexto2);
            color: var(--fondoBotones);
        }
    }

    
}


/*
----------------------------------------------------------------
----------CLASE PARA MOSTRAR LOS FORMULARIOS DE EDICÓN----------
---------------------------------------------------------------
*/
.visible{
    transform: scale(1);
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*
--------------------------------------------------------------------------------------------------------
----------BOTON DE CREAR HORARIO, INPUT PARA FILTRAR RESERVAS POR FECHA Y BUSCADOR DE USUARIOS----------
--------------------------------------------------------------------------------------------------------
*/
.crear-horario, #input_fecha, #input_fecha_horario , .buscador{
    border: none;
    background-color: var(--fondoBotones);
    font-weight: 500;
    color: white;

    &:hover{
        background-color: var(--fondoBotones);   
        color: white;     
    }
}

#input_fecha, .buscador{
    border-radius: 5px;
    padding: 5px 10px;
}


/*
--------------------------------------------
----------ESTILOS PARA EL BUSCADOR----------
--------------------------------------------
*/

.buscador{
    font-weight: 500;
    color: var(--colortexto2);

    &::placeholder{
        color: rgba(255, 255, 255, .5);
    }

}

/*
------------------------------------------------------------------------------------
----------ESTILOS PARA BOTONES QUE PUEDEN CANCELAR RESERVAS Y LOS QUE NO------------
------------------------------------------------------------------------------------
*/

.reservas-usuario-container  table button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    color: var(--colortexto2);
}

.no-cancelable{
    background-color: rgb(255, 0, 0, 0.3);
}

.cancelable{
    background-color: red;
}

/*
--------------------------------------------------------------
----------ESTILOS PARA EL INPUT DATE DE LOS HORARIOS----------
--------------------------------------------------------------
*/

#input_fecha_horario{
    margin: 0 10px;
}


/*
----------------------------------------------------------
----------ESTILOS PARA LOS BOTONES DE PAGINACIÓN----------
----------------------------------------------------------
*/

.page-button{
    margin: 10px 0;
}



/*
-------------------------------------
----------DISEÑO ESCRITORIO----------
-------------------------------------
*/
@media screen and (min-width: 1200px){

    aside{
        width: 20%;

        button{
            width: 80%;
        }
    }

    .content{
        width: 80%;
    }

    main{
        flex-direction: row;
    }

    form > button.btn-enviar{
        transition: all 0.3s ease;

            &:hover{
                background-color: #0035a7;
            }
    }

    #formCerrarSesion{
        width: 50%;
    }

    #formCerrarSesion > button{
        width: 100%;
        transition: all 0.3s ease;

            &:hover{
                background-color: rgb(235, 1, 1);
            }
    }

    table > tbody tr:hover{
        background-color: rgba(0, 53, 167, 0.3);
    }

    .acciones-container{
        align-self: center;
        justify-content: space-around;
        width: 100%;

        button{
            padding: 2.5px 0;
        }
    }

}

.crear-horario{

    &:hover{
        background-color: #0035a7;   
    }
}
