
/*
--------------------------------
----------ESTILOS MAIN----------
--------------------------------
*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 0 auto;
}

/*
--------------------------------
----------ESTILOS TITULO----------
--------------------------------
*/

main h1{
    margin: 10px 0px;
    color: var(--fondoBotones);
}

/*
-----------------------------------------------
----------ESTILOS PARA LA INFORMACIÓN----------
-----------------------------------------------
*/
main .info{
    padding: 10px ;
}


/*
---------------------------------------------------------
----------ESTILOS PARA EL TITULO DE UN APARTADO----------
---------------------------------------------------------
*/
.info .epigrafe h2{
    font-weight: bold;
    font-size: 1.3rem;
}

