
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    margin: 10px 0px;
    color: var(--fondoBotones);
}
main .info{
    padding: 10px ;
}

.info .epigrafe h2{
    font-weight: bold;
    font-size: 1.3rem;
}

