*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --logo:'Dancing Script'; 
    --titulos: 'Bebas Neue';
    --fondoBody: #fff; 
    --colorTitulos: #010100;
    --colorTitulos2: #fff; 
    --colorTexto: #010100;
    --colortexto2: #fff;
    --fondoBotones: #2462EB; 
    --fondoFooter: #111827; 
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../ASSETS/balon-futbol2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bienvenida{
    display: none;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 5% 0%;
    padding: 20px 0px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.icon{
    margin: 2% 0;
    padding: 15px 20px;
    border-radius: 100%;
    background-color: var(--fondoBotones);

    i{
        color: var(--colortexto2);
        font-size: 1.4rem;
    }
}

.form-container h2{
    margin: 5% 0;
    font-size: 2rem;
    font-weight: bold;
}

form{
    width: 70%;
}

.label-input{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.passwd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    a{
        font-size: 0.8rem;
    }
}

.label-input label{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.label-input input{
    padding: 3px 0px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.militar{
    label{
        margin-left: 5px;
        font-size: 1rem;
        font-weight: bold;
    }
}

#input-militar{
    opacity: 0;
}

.enviar{
    width: 100%;
    margin: 5px 0px;
    padding: 5px 0px;
    border: none;
    border-radius: 10px;
    background-color: var(--fondoBotones);
    font-weight: bold;
    color: var(--colortexto2);
}

.enlaces{
    margin: 10px 0px;
    
    p,a{
        font-weight: 500;
    }
}

@media screen  and (min-width: 1200px){

    main{
        flex-direction: row;
        background-image: none;
    }

    .form-container{
        border: 1px solid blue;
        width: 30%;
        margin: 0%;
    }

    .bienvenida{
        border: 1px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        width: 70%;
        height: 87vh;
        background-image: url('../ASSETS/balon-futbol2.jpeg');
        background-position: center;
        background-size: cover;
        background-position: center;
        text-align: center;
    }

    .bienvenida h1{
        color: var(--colortexto2);
    }

    .bienvenida p{
        width: 70%;
        color: var(--colortexto2);
    }

    .bienvenida > button{
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        background-color: var(--fondoBotones);

        a{
            font-weight: bold;
            color: var(--colortexto2);
        }
    }
    
}

