*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --logo:'Dancing Script'; 
    --titulos: 'Bebas Neue';
    --fondoBody: #fff; 
    --colorTitulos: #010100;
    --colorTitulos2: #fff; 
    --colorTexto: #010100;
    --colortexto2: #fff;
    --fondoBotones: #2462EB; 
    --fondoFooter: #111827; 
}


.reservar{
    background-color: var(--fondoBotones);
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1{
    padding: 7% 0 0%;
    color: var(--colorTitulos2);
}

.content select{
    margin: 7% 0 10%;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    color: var(--fondoBotones);
    font-size: 1rem;
    font-weight: bold;
}

.content .horarios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60% ;
    margin: 0 0 8%;

    .hora{
        padding: 6px 12px;
        border: none; 
        border-radius: 5px;
        background-color: var(--fondoBody);
        margin: 2% 0%;

        a{
            font-size: 1.1rem;
            font-weight: bold;
            color: var(--fondoBotones);
        }
    }
}

.content .finalizar-reserva{
    margin: 0% 0% 5%;
    padding: 5px 20px;
    border: none; 
    border-radius: 5px;
    background-color: var(--fondoBody);
    font-weight: bold;
    color: var(--fondoBotones);
    box-shadow: 2px 5px 2px 0px rgba(0, 0, 0, 0.4);
    
}

