*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root{
    --negro: #010100; 
    --blanco: #fefffe; 
    --gris: #f2f4f7; 
    --azul: #1e90ff; 
    --cineflow: 'Lobster'; 
    --titulos: 'Poppins'; 
    --texto-enlaces-botones: 'Montserrat'; 
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--negro);

    /*Estilos para todos los enlaces*/
    & a{
        color: var(--blanco);
        text-decoration: none;
        transition: color .15s ease-in;

        &:hover{
            color: var(--azul);
        }

        & i{
            font-size: 1.9em;
        }
    }

    /*Estilos para el primer enlace*/
    a.nombre-cine{
        font-family: var(--cineflow);
        font-size: 1.7vw;
    }

    /*Estilos especificos para el contenedor de los enlaces principales*/
    & .enlaces{
        display: flex;
        justify-content: space-between;
        width: 30%;

        & a{
            font-family: var(--texto-enlaces-botones);
            font-weight: 500;
        }
    }
}

/*Estilos generales para el footer*/
footer{
    padding: 10px;
    background-color: var(--gris);
}

/*Estilos para la primera seccion del footer*/
.services{
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 5px;

    .single-service{
        display: flex;
        flex-flow: column nowrap;
        width: 30%;
        & h1{
            font-family: var(--titulos);
            font-size: 1.6vw;
        }

        & a{
            padding: 5px 0px;
            color: var(--negro);
            font-family: var(--texto-enlaces-botones);
            text-decoration: none;
            transition: color .15s ease-in;

            &:hover{
                color: var(--azul);
            }
        }
    }
}

hr{
    height: 3px;
    background-color: var(--negro);
}

/*Estilos para la segunda seccion del footer*/
.politics-RRSS{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-family: var(--texto-enlaces-botones);
    font-size: 1vw;

    & .web-politics > a, .RRSS > a{
        color: var(--negro);
        text-decoration: none;
        transition: color .15s ease-in;

        &:hover{
            color: var(--azul);
        }
    }

    & .web-politics{
        display: flex;
        justify-content: space-between;
        width: 30%;
    }

    & .RRSS{
        display: flex;
        justify-content: space-between;
        width: 7%;

        & a{
            font-size: 1.3vw;
        }
    }
}



